:root {
  --color-primary: linear-gradient(135deg, #64b5f6, #f403d1);
  --color-secondary: linear-gradient(135deg, #f321d7, #ffec61);
  --color-primary-two: linear-gradient(135deg, #f403d1, #64b5f6);
  --color-secondary-two: linear-gradient(135deg, #ffec61, #f321d7);
  --color-white: #fff;
  --color-body-font: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography 
========================================================================== */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  color: var(--color-body-font);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

/* Cards
========================================================================== */

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

/* Grids */
.grid {
  display: grid;
  gap: 8rem 4.5rem;
}
/* Media Query */
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Plans */
.plan {
  transition: transform 0.2s ease-out;
}
.plan__name {
  color: var(--color-white);
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}
.plan__price {
  font-size: 5rem;
}
.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1rem;
}
.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}
/* Media Query */
@media screen and (min-width: 1024px) {
  .plan--popular {
    transform: scale(1.1);
  }
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* Card */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}
.card__header,
.card__body {
  padding: 2rem 7%;
  background: var(--color-card);
}
.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-white);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-white);
}

/* Badges */
.badge {
  border-radius: 20px;
  font-weight: 600;
  white-space: nowrap;
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
.badge--primary {
  background: var(--color-primary-two);
}
.badge--secondary {
  background: var(--color-secondary-two);
}
/* Media Query */
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-body-font);
}

.list__item {
  margin-right: 2rem;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}
/* Media Query */
@media screen and (min-width: 1024px) {
  .list__item {
    padding-left: 0;
  }
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}
.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn--primary:hover {
  background: var(--color-primary-two);
  color: var(--color-white);
}
.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}
.btn--secondary:hover {
  background: var(--color-secondary-two);
  color: var(--color-white);
}
/* Media Query */
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
